body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
    margin: 0px;

}
Button{
    width : 100%;
    padding: 4px;
}

.user-picture{
    width : 30px;
    height: 30px;
}
.navbar-default {
    background-image: linear-gradient(to bottom,#fbd3ff 0,#faffa3 100%) !important; /* override background image gradient w/ flat color */
}