body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
    margin: 0px;


}
.search-bar{
    border: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin : 10px !important;
    width: 90% !important;
    border-radius: 0 !important;

}
Button{
    width : 100%;
    padding: 4px;
}


.user-picture{
    width : 30px;
    height: 30px;
}

.donor-image{
    height: 200px;
}
.donor-image-img{
    position: relative;
    top : 60%;
    transform: translate(0,-50%);
    height: 70%;
    width: auto;

}
.charity-image{
    right: 0px;
    height: 200px;
}
.charity-image-img{
    position: relative;
    top : 65%;
    left: 66%;
    transform: translate(0,-50%);
    height: 120%;
    width: auto;
}

.vol-image{
    right: 0px;
    height: 200px;
}
.vol-image-img{
    position: relative;
    top : 65%;
    left: 64%;
    transform: translate(0,-50%);
    height: 110%;
    width: auto;
}
.donor-div{
	
	position: relative;
	background-color: #FFFFFF;
	display: block;
	height: 240px;
	padding: 10px;
	margin: 10px;
}
.fixed_left{

	display:inline-block;
	position:absolute;
	top:50%;
	left:10%;
	transform:translate(0,-50%);
	width:50%;
	background: -webkit-linear-gradient(#ED2028, #fdad4c);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.fixed_right{
	display:inline-block;
	position:absolute;
	top:50%;
	right:-20%;
	transform:translate(-48%,-50%);
	width:50%;
	background: -webkit-linear-gradient(#ED2028, #fdad4c);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

Charities{
	width: 100%;
	height: 100%;
}

.navbar.navbar-default {
    background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%) !important; /* override background image gradient w/ flat color */
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.logo{
  height : 250%;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}