Order{
    margin : 10px;
    min-width: 400px;
    min-height: 400px;
}
.order-image{
    width : 100px;
    height:  100px;
}
.side-panel{
    background: #F5F9FE;
}
.single-order{
    background: #F5F9FE;
}
FormControl{
    padding: 2px;
}
.create-order-button{
    width : 50%;
    padding: 2px;
    margin: auto;
    text-align :center;
    position: relative;
}